body {
    font-family:cursive;
    font-style: italic;
    font-size: 20px;
    background-color: #FAEFCA;
    color: #333;
    line-height:1.6;
    margin:0;
    padding: 20px;
    }
    
    /*estilos para botones*/
    .button{
        display:inline-block;
        background-color: #e1a9c3;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 8px;
        transition: background-color 0.5s;
        width: 200px;
        height: 80px;
        font-size: 20px;
    
    }
    
    .button:hover{
        background-color: #a3609c;
        color:rgb(238, 245, 245);
    }
     
    /* Estilos para el footer*/
    footer{
        background-image:url("imagenes/polvo.jpg");
        color:white;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom:0;
        width:1000px;
        width: 100%;
    }

    .contendor {
        background:#e2c98a;
        text-align: center;
        background-position-x: 50%;
        
        }
        .boton-con-imagen img{
            background-image:"cachorro.webp" ;
            background-size: cover;
            background-position: center;
            width: 300px;
           height: 200px;
           border-radius: 8px;
           padding: 0px;
           border: none;
            
            
        }
        button{
            margin: 3px;
        }

    .resultadoss{
        font-size:30px ;
        
    }
        